<h2>Tarefas</h2>


<a class="btn btn-warning" routerLink="/tasks/add">Adicionar Tarefa</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Status</th>
        <th>Data</th>
        <th>Ativo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.description }}</td>
        <td>            
        <select disabled class="form-select" id="status" #status="ngModel" required
            [(ngModel)]="task.status" name="status">
            <option [ngValue]="1">Concluído</option>
            <option [ngValue]="2">Pendente</option>
            <option [ngValue]="3">Em Andamento</option>
            <option [ngValue]="4">Cancelado</option>
        </select></td>
        <td>{{ task.date| date: 'dd/MM/yyyy' }}</td>
        <td><input type="checkbox" [checked]="task.active"></td>
        <td><a class="btn btn-info" routerLink="/tasks/edit/{{ task.id }}">Editar</a></td>
      </tr>
    </tbody>
  </table>
  


